# S&P500 Component Companies

Good source of data is Siblis Research, very comprehensive and reasonable pricing.  Since the data goes back many decades, I saved a version of the file with only the column for component companies as of Dec 31, 2018.  

The only remaining data cleanup step is to remove rows with null values (i.e. not in the S&P500 as of 12/31/2018).  I should also double-check that there aren't any duplicate rows in the data.  Expecting approximately 500 ticker symbols after clean-up.

In [1]:
import pandas as pd
from pandas import DataFrame, Series

In [2]:
# Excerpt of the Siblis Research file on S&P500 ... only kept the last column
df_sp = pd.read_csv('S&P_500_Components_20181231.csv')

In [3]:
# how many rows and columns
df_sp.shape

(1418, 4)

In [4]:
# examine dataframe
df_sp.head()

       Ticker     ISIN Code                        Company Name 12/31/2018
0           A  US00846U1016           Agilent Technologies Inc.   0.10244%
1          AA  US0138171014                           Alcoa Inc        NaN
2         AAL  US02376R1023         American Airlines Group Inc   0.06315%
3  AAL (Alex)  US0144761055  Alexander & Alexander Services Inc        NaN
4         AAP  US00751Y1064              Advance Auto Parts Inc   0.05418%

In [5]:
# check if there are any duplicate values in the first 3 columns
for each_col in df_sp.columns[:-1]:
    # number of duplicate rows for each column
    temp_dup_rows = df_sp.duplicated(subset=[each_col], keep=False).sum()
    
    # print the column name and number of duplicates
    print(f'Number of duplicates in {each_col} column: {temp_dup_rows}')

Number of duplicates in Ticker column: 0
Number of duplicates in ISIN Code column: 0
Number of duplicates in Company Name column: 4

In [6]:
# Drop any rows where there is a null value in the last column
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html
df_sp.dropna(subset=['12/31/2018'], inplace=True)

In [7]:
# how many rows and columns remaining
df_sp.shape

(505, 4)

In [8]:
# check if there are any duplicate values in the first 3 columns
for each_col in df_sp.columns[:-1]:
    # number of duplicate rows for each column
    temp_dup_rows = df_sp.duplicated(subset=[each_col], keep=False).sum()
    
    # print the column name and number of duplicates
    print(f'Number of duplicates in {each_col} column: {temp_dup_rows}')

Number of duplicates in Ticker column: 0
Number of duplicates in ISIN Code column: 0
Number of duplicates in Company Name column: 0

In [9]:
# save the S&P500 csv as new file
df_sp.to_csv('sp500_20181231.csv', index=False)